<main class="container">
	<h1 class="center-align">{{title}}</h1>
	<div class="card-panel row center">
		<h4>Register a new item</h4>
		<div class="input-field col s6 offset-s3">
			<input [(ngModel)]="newTask.description" id="description" type="text" class="validate">
			<label for="description">Description</label>
		</div>
		<div class="col s12">
			<input (click)="addTask()" type="button" class="waves-effect btn" value="save"/>
		</div>
	</div>
	<div class="card-panel row">
		<table class="striped">
			<thead>
			<th>Description</th>
			<th>Done</th>
			</thead>
			<tbody>
			<tr *ngFor="let task of tasks; let i = index" [ngClass]="{green: task.done}" class="lighten-3">
				<td>{{task.description}}</td>
				<td>
					{{showTaskDoneFormated(task.done)}}
				</td>
				<td>
					<a class="btn waves-effect btn-floating" [ngClass]="{grey: !task.done}" (click)="doneTask(i)"><i class="material-icons">done</i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</main>